GOOSE_DBSTRING=postgres://user:password@ep-xxxx.region.aws.neon.tech/doorbust?sslmode=require
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./internal/adapters/postgresql/migrations
COGNITO_ISSUER_URL=https://cognito-idp.<region>.amazonaws.com/<user-pool-id>
COGNITO_CLIENT_ID=<app-client-id>
